{
  "semi": false,
  "tabWidth": 4,
  "printWidth": 180,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
